#mainContainer {
  position: relative;
  height: 360px;
}

#content, #adContainer {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 640px;
  height: 360px;
  margin-left: -320px;
}

#contentElement {
  /* width: 640px;
  height: 360px; */
  overflow: hidden;
}

.copy {
  position: relative;

  left: 50%;
  width: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -320px;
}


#playpause {
  position: absolute;
  margin-left: -320px;
  left: 55%;
  bottom: 20px;
  height: 40px;
  width: 100px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  line-height: 0;
}

#playpause:hover {
  border: 1px #f00 solid;
  color: #f00;
}